<!-- Links to Jobs Associated with User -->
<% @header = "Welcome to your dashboard, #{display_name(current_user)}" %>

<h2>Current Open Positions</h2>

<div class="span12 clients_rotator_widget_wrap">
  <div class="color-bottom-line flex-controls-cl">
    <h3 class="line2 center standart-h3title"><span> Job List</span></h3>
    <ul class="slides">
      <% @departments.each do |department| %>
        <h2><%= department.department_name %></h2>
        <% department.jobs.each do |job| %>
          <li class="slide">
            <h3>
              <a href="/jobs/<%= job.id %>"> <%= job.job_title %> </a>
            </h3>
            <h4> Projected Start Date: <%= job.projected_start_date %></h4>
              <a href="/jobs/<%= job.id %>/select_candidates"> View Candidates | </a>
              <a href="/jobs/<%= job.id %>/edit"> Edit | </a>
              <a data-confirm="Are you sure you want to delete this job?" data-method="delete" href="<%= job.id %>" rel="nofollow">Delete</a>
         </li>
      <% end %>
      <% end %>
    </ul>
  </div>

<div>
  <div>
    <ul>
      <h3 class="line2 center standart-h3title"> <span><%= link_to 'Create a New Job', '/jobs/new' %> </span></h3>
    </ul>
  </div>
</div>
