<h1> <%= @job.job_title %> </h1>

<div>
  <h4> Department: <%= @job.department_name %></h4>
  <h4> Salary: $<%= @job.salary %> </h4>
  <h4> Projected Start Date: <%= @job.projected_start_date %></h4>
  <h4> Current Stage:<%= @job.stage %> </h4>
  <h4> Timeline Status: <%= @job.timeline_status %></h4>
  </dih4

<div>
  <h4> Description: </h4>
  <h5><%= @job.description %></h5>
</div>

<div>
  <li>Ideal Candidate Criteria 1:<%= @job.job_criteria_1  %></li>
  <li>Ideal Candidate Criteria 2:<%= @job.job_criteria_2 %></li>
  <li>Ideal Candidate Criteria 3:<%= @job.job_criteria_3 %></li>
  <li>Ideal Candidate Criteria 4:<%= @job.job_criteria_4 %></li>
  <li>Ideal Candidate Criteria 5:<%= @job.job_criteria_5 %></li>
</div>


<div>
  <h4>Archive?</h4>
</div>
