  <%= form_tag("/company/#{@company.id}/jobs/#{@job.id}/select_candidates/#{@candidate.id}", method: "patch") do %>

    <div><h3><%= @candidate.first_name %> <%= @candidate.last_name %></h3></div>

    <div>Email: <%= @candidate.email %></div>

    <div>Phone: <%= @candidate.phone %></div>

    <div><%= image_tag(@candidate.resume.url)%> </div>

    <div> <%= image_tag(@candidate.cover_letter.url) %></div>

    <div> <%= image_tag(@candidate.references) %></div>

    <div>Move Forward? <%= select_tag :move_forward, options_for_select(['Yes', 'Maybe', 'No'], @candidate.move_forward), include_blank: true %></div>

    <div>Status? <%= @candidate.status %> <%= select_tag :status, options_for_select(['Prescreens', 'Phone Screens', 'Interivews', 'Reference Checks', 'Offers'], @candidate.status), include_blank: true %></div>

    <div>Feedback: <%= text_area_tag :feedback, @candidate.feedback %></div>

    <div><%= @candidate.job.job_criteria_1 %> Skills <%= select_tag :job_criteria_1, options_for_select(1..5, @candidate.job_criteria_1), include_blank: true %></div>

    <div><%= @candidate.job.job_criteria_2 %> Skills <%= select_tag :job_criteria_2, options_for_select(1..5, @candidate.job_criteria_2), include_blank: true %></div>

    <div><%= @candidate.job.job_criteria_3 %> Skills <%= select_tag :job_criteria_3, options_for_select(1..5, @candidate.job_criteria_3), include_blank: true %></div>

    <div><%= @candidate.job.job_criteria_4 %> Skills <%= select_tag :job_criteria_4, options_for_select(1..5, @candidate.job_criteria_4), include_blank: true %></div>

    <div><%= @candidate.job.job_criteria_5 %> Skills <%= select_tag :job_criteria_5, options_for_select(1..5, @candidate.job_criteria_5), include_blank: true%></div>

    <div>Total Score:<%= @candidate.total_criteria%></div>

    <div>
      <%= submit_tag("Save Updates") %>
    </div>

<% end %>

<div>
  <a href="/company/<%= @company.id %>/jobs/<%= @job.id %>/select_candidates"> Return to Candidate List </a>
</div>
