<div class="scrollit">
<table>
  <thead>
    <tr>
      <th>Update</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Resume</th>
      <th>Move Forward?</th>
      <th>Status</th>
      <th>Feedback</th>
      <th>Top Candidate?</th>
      <th><%= @job.job_criteria_1%> Demonstrated Skill Level Score</th>
      <th><%= @job.job_criteria_2%> Demonstrated Skill Level Score</th>
      <th><%= @job.job_criteria_3%> Demonstrated Skill Level Score</th>
      <th><%= @job.job_criteria_4%> Demonstrated Skill Level Score</th>
      <th><%= @job.job_criteria_5%> Demonstrated Skill Level Score</th>
      <th>Job Criteria Ranking Score</th>
    </tr>
  </thead>
  <tbody>
      <tr> <% @candidates.each do |candidate| %>
        <td> <%=link_to "Make Updates to Candidate", "/company/#{@company.id}/jobs/#{candidate.job_id}/select_candidates/#{candidate.id}/edit"%></td>
        <td><%= candidate.first_name %></td>
        <td><%= candidate.last_name %></td>
        <td><%= candidate.email %></td>
        <td><%= candidate.phone %></td>
        <td><%= image_tag(candidate.resume.url)%> </td>
        <td> <%= candidate.move_forward %></td>
        <td> <%= candidate.status %> </td>
        <td><%= candidate.feedback %></td>
        <td><%= candidate.top_candidate? %></td>
        <td><%=candidate.job_criteria_1%></td>
        <td><%=candidate.job_criteria_2%></td>
        <td><%=candidate.job_criteria_3%></td>
        <td><%=candidate.job_criteria_4%></td>
        <td><%=candidate.job_criteria_5%></td>
        <td><%= candidate.total_criteria%></td>
      </tr>
  <% end %>
</tbody>
</table>
</div>

<div> <a href="/company/<%= @company.id %>/jobs/<%= @job.id %>/gen_rec"> Generate Recommendation </a></div>
<div> <a href="/company/<%= @company.id %>/jobs/dashboard"> Back to Dashboard</a> </div>
<div> <a href="/company/<%= @company.id %>/jobs/<%= @job.id %>"> << Back to Job Info Page</a> </div>
