<div>
  <% @candidates.each do |candidate| %>
  <h4>
    <%= candidate.first_name %>
    <%= candidate.last_name %>
  </h4>
</div>
  <ul>
    <h6>
      <li>Email: <%= candidate.email %></li>
      <li>Phone: <%= candidate.phone %></li>
      <li> <%=link_to "Resume", candidate.resume %></li>
      <li> <%= link_to "Cover Letter", candidate.cover_letter %></li>
      <li> <%= link_to "References", candidate.references %></li>
      <li>Move Forward? <%= candidate.move_forward %></li>
      <li>Status? <%= candidate.status %></li>
      <h6>Job Criteria Ranking</h6>
      <li> Total Score: <%= candidate.job_criteria_1 + candidate.job_criteria_2 + candidate.job_criteria_3 + candidate.job_criteria_4 + candidate.job_criteria_5%></li>
    </h6>
  </ul>
<% end %>
