<h1> Apply to the <%=@job.job_title%> Position at <%= @company.company_name %></h1>

<h4>Job Description</h4>

<%= form_tag("/company/#{@company.id}/jobs/#{@job.id}/select_candidates", method: "post", enctype: "multipart/form-data") do %>

<div>
  <%= label_tag(:first_name) %>
  <%= text_field_tag(:first_name, @candidate.first_name) %>
</div>

<div>
  <%= label_tag(:last_name) %>
  <%= text_field_tag(:last_name, @candidate.last_name) %>
</div>

<div>
  <%= label_tag(:email) %>
  <%= text_field_tag(:email, @candidate.email) %>
</div>

<div>
  <%= label_tag(:phone) %>
  <%= text_field_tag(:phone, @candidate.phone) %>
</div>

<div>
  <%= label_tag(:resume) %>
  <%= file_field_tag(:resume) %>
</div>

<div>
  <%= label_tag(:cover_letter) %>
  <%= file_field_tag(:cover_letter) %>
</div>

<div>
  <%= label_tag(:references) %>
  <%= file_field_tag(:references) %>
</div>

<div>
  <%= submit_tag("Submit Application") %>
</div>

<% end %>
