<div>
<h2><%= @candidate.first_name %>
  <%= @candidate.last_name %>
</h2>
</div>
  <ul>
    <h3>
      <li>Email: <%= @candidate.email %></li>
      <li>Phone: <%= @candidate.phone %></li>
      <li>Resume: <%= @candidate.resume %></li>
      <li>Cover Letter: <%= @candidate.cover_letter %></li>
      <li>References: <%= @candidate.references %></li>
      <li>Move Forward?(true/false):  <%= @candidate.move_forward %></li>
      <li>Status: <%= @candidate.status %> </li>
      <li>Job Criteria Rank 1 (Score out of 5): <%= @candidate.job_criteria_1 %></li>
      <li>Job Criteria Rank 2 (Score out of 5): <%= @candidate.job_criteria_2 %></li>
      <li>Job Criteria Rank 3 (Score out of 5): <%= @candidate.job_criteria_3 %></li>
      <li>Job Criteria Rank 4 (Score out of 5): <%= @candidate.job_criteria_4 %></li>
      <li>Job Criteria Rank 5 (Score out of 5): <%= @candidate.job_criteria_5 %></li>
    </h3>
  </ul>
