<!DOCTYPE html>
<html lang="en">
<head>
	<%= csrf_meta_tags %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<meta charset="utf-8">
<title>Expecto Hire</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- Le styles -->

<!-- <link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="assets/css/flexslider.css" rel="stylesheet">
<link href="assets/css/switcher.css" rel="stylesheet">
<link href="assets/css/parallax_slider/style.css" rel="stylesheet">
<noscript>
	<link rel="stylesheet" type="text/css" href="css/parallax_slider/nojs.css" />
</noscript>
<link href="assets/css/font-awesome.min.css" rel="stylesheet">
<link href="assets/css/social.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet" id="colors">
<! !important THIS STYLE CSS ON BOTTOM OF STYLEs LIST-->




<!--[if lt IE 7]>
	<link href="assets/css/font-awesome-ie7.min.css" rel="stylesheet">
	<![endif]-->
    <!-- Fav and touch icons -->

<link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
</head>
<body>
<!--START MAIN-WRAPPER-->
<div class="main-wrapper">
	<!-- START HEADER headertop -->
	<div class="headertop needhead">
		<!-- BLURED BACKGROUND-->
		<div class="action-banner-bg"></div>
		<!-- END BLURED BACKGROUND-->

		<!-- PIXEL BG DOTTS UNDER BLURED BACKGROUND-->
		<div class="action-banner-bg-top"></div>
		<!-- END PIXEL BG DOTTS UNDER BLURED BACKGROUND-->

  <!-- ################-->
 <!-- START TOP MENU -->
 <!-- ################-->
  <div class="nav-reaction">
    <div class="navbar navbar-static-top">
      <!-- navbar-fixed-top -->
      <div class="navbar-inner">
        <div class="container">
					<a class="brand" href="index.html">
						<span>Expecto Hire</span>
		<!--<img src="assets/img/Logo.png" alt="Logo">-->
					</a>
          <div id="main-nav">
            <div class="nav-collapse collapse">
              <ul class="nav">

								<% if current_user %>
									<li><a href="/company/<%= current_user.company_id %>/jobs">Home</a> </li>
                	<li><a href="/company/<%= current_user.company_id %>/jobs/dashboard"> Dashboard </a> </li>
									<% else%>
									<li><a href="/">Home</a> </li>
								<% end %>

								<% if current_user == nil %>
								<li> <a href="/companies/new"> Register Your Company</a> </li>
								<% end %>
                <li class="dropdown"><a href="/welcomes/about"> About</a></li>
                <li class="dropdown"><a href="/welcomes/contact"> Contact </a>

                </li>
								<% if current_user %>
								<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/users/edit"> Settings <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li> <a href="/users/edit"> Account Settings</a> </li>
										<% 	if current_user.admin? == true %>
											<li> <a href="/companies/<%= current_user.company_id %>/edit"> Company Settings</a> </li>
											<% end %>
										</ul>
								</li>
								<% end %>
			<% if current_user.nil? %>
				<li class="dropdown"><a href="/users/sign_up" class="dropdown-toggle" data-toggle="dropdown">Log In</a>
						</li>
						</ul>
					</li>
					<% end %>
					<% if current_user %>
						 <li><%= link_to "Logout", destroy_user_session_path, method: 'delete' %></li>
					 <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <!-- ################-->
 <!-- END TOP MENU -->
 <!-- ################-->
				<!-- SOCIAL PANEL UNDER MENU-->
				 <div class="top-soc hidden-phone">
					<div class="container">
							<%= find_company(current_user) %>
						<div class="row">
						</div>
					</div>
				</div>
				<h1><%= @header %></h1>
				<!--END SOCIAL PANEL UNDER MENU-->
			</div>
	<% flash.each do |name, message| %>
  <div class="alert alert-<%= name %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <% if message.is_a?(Array) %>
    <ul>
      <% message.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <% else %>
      <p><%= message %></p>
    <% end %>
  </div>
  <% end %>

				<%= yield %>
			<!-- END HEADER headertop -->

			<!-- MAIN CONTENT CONTAINER -->
	<hr class="half">
   <div class="row">
  </div>
  </div>
</div>
<!-- END MAIN WRAPPER-->
<!-- Footer
    ================================================== -->
<footer class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	  <div class="row-fluid">
      </div>
	  </div>
    </div>

    <div class="row-fluid">
      <div class="span3">
        <h4 class="line3 center standart-h4title"><span>Navigation</span></h4>
        <ul class="footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="">Settings</a></li>
        </ul>
      </div>
      <div class="span3">
        <h4 class="line3 center standart-h4title"><span>Useful Links</span></h4>
        <ul class="footer-links">
          <li><a href="#">WordPress.com</a></li>
        </ul>
      </div>
      <div class="span3">
        <h4 class="line3 center standart-h4title"><span>Company Info</span></h4>
       <address>
									  <strong>Expecto Hire</strong><br>
									  <i class="fa-icon-map-marker"></i>New York City

									</address>
      </div>
      <div class="span3">
        <h4 class="line3 center standart-h4title"><span>Stay in touch</span></h4>

        <div class="widget_nav_menu">
				<ul class="socialIcons">
						<li class="facebook"><a href="#">facebook </a></li>
						<li class="linkedin"><a href="#">linkedin </a></li>
						<li class="twitter"><a href="#">twitter</a></li>
						<li class="youtube"><a href="#">youtube</a></li>
						<li class="rss"><a href="#">rss </a></li>
						<li class="homeicon"><a href="#">homeicon</a></li>
						<li class="phone"><a href="#">phone </a></li>
						<li class="email"><a href="#">email </a></li>
	                   </ul>
				</div>
      </div>
    </div>
    <hr class="half1 copyhr">
    <div class="row-fluid copyright">
      <div class="span12 center">Copyright &copy; 2016. Expecto Hire</div>
    </div>
  </div>
</footer>
<!-- END FOOTER -->
<!--[END] MAIN WRAPPER-->
</div>

<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->



					<!-- SLIDER -->
						<script type="text/javascript">
			jQuery(document).ready(function($){

				$('#da-slider').cslider({
					autoplay	: true,
					bgincrement	: 50
				});

			});
		</script>
					<!--END: SLIDER -->

</body>
</html>
